<footer></footer>
</div>
</div>
<script src="../js/walmart.js"></script>
<script src="../js/main.js"></script>
<script src="../js/registro-usuario.js"></script>
<script src="../js/registro-producto.js"></script>

</body>

</html>