<aside class="w-72 bg-black flex-shrink-0 overflow-y-auto overflow-x-hidden">
   <div class="py-6 text-white">
      <a class="flex justify-center mb-8" href="#">
         <img class="w-30 h-30" src="/img/img1.png" alt="Logo de Kara">
      </a>

      <!-- account -->
      <div class="flex w-full my-8 px-6">
         <span class="w-12 h-12 mr-3 bg-user bg-cover bg-center"></span>

         <div class="w-2/3 overflow-hidden">
            <p class="font-semibold text-xl">
               <%= currentUser.name %>
            </p>
            <p class="text-gray-500 text-base truncate ">
               <%= currentUser.email %>
            </p>
         </div>
      </div>

      <div class="w-full h-[1px] bg-white"></div>

      <!-- pages -->
      <ul class="mt-8">
         <li class="relative px-6 py-3 my-4" onclick="toggleSubMenu(event, 'clients-menu')">
            <span class="absolute inset-y-0 left-0 w-1 bg-secondary rounded-tr-lg rounded-br-lg"></span>

            <a class="inline-flex w-full text-sm font-semibold text-accentBlue cursor-pointer">
               <span class="w-6 h-6">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <g id="icon/menu/tasks-active" clip-path="url(#clip0_144_3450)">
                        <path id="Vector" d="M3 3.7H20C20.1634 3.7 20.3 3.8366 20.3 4V10C20.3 10.1634 20.1634 10.3 20 10.3H3C2.8366
                           10.3 2.7 10.1634 2.7 10V4C2.7 3.8366 2.8366 3.7 3 3.7ZM3 13.7H20C20.1634 13.7 20.3 13.8366
                           20.3 14V20C20.3 20.1634 20.1634 20.3 20 20.3H3C2.8366 20.3 2.7 20.1634 2.7 20V14C2.7 13.8366
                           2.8366 13.7 3 13.7Z" stroke="currentColor" stroke-width="1.4" />
                     </g>
                     <defs>
                        <clipPath id="clip0_144_3450">
                           <rect width="24" height="24" fill="white" />
                        </clipPath>
                     </defs>
                  </svg>
               </span>
               <span class="ml-4">Clientes</span>
            </a>
            <ul class="ml-8 mt-2 hidden submenu clients-menu">
               <li>
                  <a class="flex items-center" href="/user/new">
                     <span class="flex items-center w-6 h-6">
                        <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M9.5 17.5H6.5V21.5H9.5V17.5Z" fill="currentColor" />
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M3 2.5C3 1.83696 3.83696 1 4.5 1H15.5C16.163 1 17 1.83696 17 2.5V6.5H21C21.663 6.5 22.5 7.33696 22.5 8V20C22.5 20.663 21.663 21.5 21 21.5H3C2.33696 21.5 1.5 20.663 1.5 20V3.5C1.5 2.83696 2.33696 2 3 2V2.5ZM20 8.5V19H4V8.5H20ZM12.996 3H4.5V7.5H19.5V4.003C19.5 3.448 19.052 3 18.497 3H12.996Z"
                              fill="currentColor" />
                        </svg>
                     </span>
                     <span class="ml-2">Registrar Cliente</span>
                  </a>
            <!-- Menú desplegable -->
               </li>
               <li class="mt-2">
                  <a class="flex items-center" href="/user/all">
                     <span class="flex items-center w-6 h-6">
                        <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M17 21.5H6C5.448 21.5 5 21.052 5 20.5V4.5C5 3.948 5.448 3.5 6 3.5H17C17.552 3.5 18 3.948 18 4.5V20.5C18 21.052 17.552 21.5 17 21.5Z"
                              stroke="currentColor" stroke-width="1.4" />
                           <path
                              d="M21 7H3C2.448 7 2 7.448 2 8V20C2 20.552 2.448 21 3 21H21C21.552 21 22 20.552 22 20V8C22 7.448 21.552 7 21 7Z"
                              stroke="currentColor" stroke-width="1.4" />
                           <path d="M2 8H22" stroke="currentColor" stroke-width="1.4" />
                           <path d="M5 11H19" stroke="currentColor" stroke-width="1.4" />
                           <path d="M5 15H13" stroke="currentColor" stroke-width="1.4" />
                           <path d="M5 19H19" stroke="currentColor" stroke-width="1.4" />
                        </svg>
                     </span>
                     <span class="ml-2">Tabla de Clientes</span>
                  </a>
               </li>
            </ul>
         </li>

         <li class="relative px-6 py-3 my-4" onclick="toggleSubMenu(event, 'products-menu')">
            <span class="absolute inset-y-0 left-0 w-1 bg-secondary rounded-tr-lg rounded-br-lg"></span>

            <a class="inline-flex w-full text-sm font-semibold text-accentBlue cursor-pointer">
               <span class="w-6 h-6">
                  <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                     viewBox="0 0 24 24" width="24px" fill="currentColor">
                        <rect fill="none" height="24" width="24" />
                           <path
                              d="M20,2H4C3,2,2,2.9,2,4v3.01C2,7.73,2.43,8.35,3,8.7V20c0,1.1,1.1,2,2,2h14c0.9,0,2-0.9,2-2V8.7c0.57-0.35,1-0.97,1-1.69V4 C22,2.9,21,2,20,2z M19,20H5V9h14V20z M20,7H4V4h16V7z" />
                           <rect height="2" width="6" x="9" y="12" />
                  </svg>
               </span>
               <span class="ml-4">Productos</span>
            </a>
            <ul class="ml-8 mt-2 hidden submenu products-menu">
               <li>
                  <a class="flex items-center" href="/product/new">
                     <span class="flex items-center w-6 h-6">
                        <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M9.5 17.5H6.5V21.5H9.5V17.5Z" fill="currentColor" />
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M3 2.5C3 1.83696 3.83696 1 4.5 1H15.5C16.163 1 17 1.83696 17 2.5V6.5H21C21.663 6.5 22.5 7.33696 22.5 8V20C22.5 20.663 21.663 21.5 21 21.5H3C2.33696 21.5 1.5 20.663 1.5 20V3.5C1.5 2.83696 2.33696 2 3 2V2.5ZM20 8.5V19H4V8.5H20ZM12.996 3H4.5V7.5H19.5V4.003C19.5 3.448 19.052 3 18.497 3H12.996Z"
                              fill="currentColor" />
                        </svg>
                     </span>
                     <span class="ml-2">Registrar Producto</span>
                  </a>
               </li>
               <li class="mt-2">
                  <a class="flex items-center" href="/product/all">
                     <span class="flex items-center w-6 h-6">
                        <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M17 21.5H6C5.448 21.5 5 21.052 5 20.5V4.5C5 3.948 5.448 3.5 6 3.5H17C17.552 3.5 18 3.948 18 4.5V20.5C18 21.052 17.552 21.5 17 21.5Z"
                              stroke="currentColor" stroke-width="1.4" />
                           <path
                              d="M21 7H3C2.448 7 2 7.448 2 8V20C2 20.552 2.448 21 3 21H21C21.552 21 22 20.552 22 20V8C22 7.448 21.552 7 21 7Z"
                              stroke="currentColor" stroke-width="1.4" />
                           <path d="M2 8H22" stroke="currentColor" stroke-width="1.4" />
                           <path d="M5 11H19" stroke="currentColor" stroke-width="1.4" />
                           <path d="M5 15H13" stroke="currentColor" stroke-width="1.4" />
                           <path d="M5 19H19" stroke="currentColor" stroke-width="1.4" />
                        </svg>
                     </span>
                     <span class="ml-2">Tabla de Productos</span>
                  </a>
               </li>
            </ul>
         </li>

         <li class="relative px-6 py-3 my-4" onclick="toggleSubMenu(event, 'categorys-menu')">
            <span class="absolute inset-y-0 left-0 w-1 bg-secondary rounded-tr-lg rounded-br-lg"></span>

            <a class="inline-flex w-full text-sm font-semibold text-accentBlue cursor-pointer">
               <span class="w-6 h-6">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                     fill="currentColor">
                     <path d="M0 0h24v24H0V0z" fill="none" />
                     <path
                        d="M12 2l-5.5 9h11L12 2zm0 3.84L13.93 9h-3.87L12 5.84zM17.5 13c-2.49 0-4.5 2.01-4.5 4.5s2.01 4.5 4.5 4.5 4.5-2.01 4.5-4.5-2.01-4.5-4.5-4.5zm0 7c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5zM3 21.5h8v-8H3v8zm2-6h4v4H5v-4z" />
                  </svg>
               </span>
               <span class="ml-4">Categorias</span>
            </a>
            <ul class="ml-8 mt-2 hidden submenu categorys-menu">
               <li>
                  <a class="flex items-center" href="/category/new">
                     <span class="flex items-center w-6 h-6">
                        <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M9.5 17.5H6.5V21.5H9.5V17.5Z" fill="currentColor" />
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M3 2.5C3 1.83696 3.83696 1 4.5 1H15.5C16.163 1 17 1.83696 17 2.5V6.5H21C21.663 6.5 22.5 7.33696 22.5 8V20C22.5 20.663 21.663 21.5 21 21.5H3C2.33696 21.5 1.5 20.663 1.5 20V3.5C1.5 2.83696 2.33696 2 3 2V2.5ZM20 8.5V19H4V8.5H20ZM12.996 3H4.5V7.5H19.5V4.003C19.5 3.448 19.052 3 18.497 3H12.996Z"
                              fill="currentColor" />
                        </svg>
                     </span>
                     <span class="ml-2">Registrar Categoria</span>
                  </a>
               </li>
               <li class="mt-2">
                  <a class="flex items-center" href="/category/all">
                     <span class="flex items-center w-6 h-6">
                        <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M17 21.5H6C5.448 21.5 5 21.052 5 20.5V4.5C5 3.948 5.448 3.5 6 3.5H17C17.552 3.5 18 3.948 18 4.5V20.5C18 21.052 17.552 21.5 17 21.5Z"
                              stroke="currentColor" stroke-width="1.4" />
                           <path
                              d="M21 7H3C2.448 7 2 7.448 2 8V20C2 20.552 2.448 21 3 21H21C21.552 21 22 20.552 22 20V8C22 7.448 21.552 7 21 7Z"
                              stroke="currentColor" stroke-width="1.4" />
                           <path d="M2 8H22" stroke="currentColor" stroke-width="1.4" />
                           <path d="M5 11H19" stroke="currentColor" stroke-width="1.4" />
                           <path d="M5 15H13" stroke="currentColor" stroke-width="1.4" />
                           <path d="M5 19H19" stroke="currentColor" stroke-width="1.4" />
                        </svg>
                     </span>
                     <span class="ml-2">Tabla de Categorias</span>
                  </a>
               </li>
            </ul>
         </li>

         <li class="relative px-6 py-3 my-4">
            <a class="inline-flex w-full text-sm font-semibold text-white transition-colors duration-150 hover:text-gray-400"
               href="/logout">
               <span class="w-6 h-6 bg-category">
               </span>
               <span class="ml-4">Cerrar Sesion</span>
            </a>
         </li>
      </ul>
   </div>
</aside>